# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
NEXTVerse/nextverse/node_modules
NEXTVerse/nextverse/.pnp
NEXTVerse/nextverse/.pnp.js
NEXTVerse/nextverse/.yarn/install-state.gz

# testing
NEXTVerse/nextverse/coverage

# next.js
NEXTVerse/nextverse/.next/
NEXTVerse/nextverse/out/

# production
NEXTVerse/nextverse/build

# misc
NEXTVerse/nextverse/.DS_Store
*.pem

# debug
NEXTVerse/nextverse/npm-debug.log*
NEXTVerse/nextverse/yarn-debug.log*
NEXTVerse/nextverse/yarn-error.log*

# local env files
.env*.local

# vercel
NEXTVerse/nextverse/.vercel

# typescript
*.tsbuildinfo
/ext-env.d.ts
