{% load static %}
<!-- (C) Himank Deka, 2023 - present -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confidante - Home</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico|Black%20Ops%20One|Cabin|Prompt">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/navigation.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'js/home.js' %}">
    </script>
</head>
<body>
    {% include 'navigation.html' %}
    <div class="first_screen" id="fs" data-url="{% url 'user' %}">
        <div></div>
    </div>
    <div class="main" id="main">
        <h1>Confidante</h1>
        <p class="version" style="font-family: Pacifico; font-size: 500%; margin-top: 0; color: aqua;">Polaris</p>
        <p> Welcome to the best FOSS diary making web application</p>
        <a style="font-family: Black Ops One;" id="btn"><span id="loader2"></span> Let's Go <span id="loader"></span></a>
    </div>
    {% include 'footer.html' %}
</body>
</html>