.body-bg {
    background-image: url("./images/bg_home.jpg");
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;
}

.fontAB {
    font-family:'Times New Roman', Times, serif;
    font-size: 200px;
    color: white;
}

.brnd-img {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 3px;
    width: 50px;
    height: 35px;
    text-align: center;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    transition: 2s;
    margin-left: 5px;
}

.spacer {
    margin-right: 10px;
}

.footerF {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    height: 30px;
}

.footerF p {
    margin-top: -10px;
}

.brnd-img:hover {
    background-color: white;
    color: black;
}

.timeF {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 7px;
    color: white;
}

.fontOH {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subtitle {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.subtitle p {
    font-size: 15px;
    margin-top: 7px;
    color: white;
}