{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name = "charset" content="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "author" content="Himank Deka">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'styler.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'homeJS.js' %}"></script>
    <title>Confidante - Home</title>
</head>

<body class="body-bg" onload = "getTime()">
    <div class="offcanvas offcanvas-start text-bg-dark" id="about">
        <div class="offcanvas-header">
          <h1 class="offcanvas-title">About Us</h1>
          <button type="button" class="btn-close text-reset btn-close-white" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <h4 class = "fontOH">Hello and Welcome to Confidante.</h4><br><br>
            <p>
                Confidante is an app which allows you to create your own personal web diary.<br>
                Confidante is fully secure and also has an authentication system which only allows authorized indivisuals to access their diaries.<br>
                This app allows multiple diaries by multiple user, with one diary per user.
            </p>
            <hr>
            <a href = "https://www.github.com/dev-hd11/Confidante" class = "btn btn-outline-danger" onclick="change(6)">
                <span id = "six"></span>
                Learn More 
            </a>

        </div>
      </div>
      
    <nav class="navbar navbar-expand-md bg-dark navbar-light">
        <div class="container-fluid">
            <a class = "navbar-brand float-end" href = "/">
                <p class = "brnd-img"> CF </p>
            </a>
            <ul class="navbar-nav">
                <li class = "nav-item"><p id = "time" class = "timeF"></p></li>
                <li class="nav-item"><a class="btn btn-outline-danger spacer" href="https://pytextgame.godaddysites.com" onclick="change(3)">
                    <span id = "thrd"></span>
                    News
                </a></li>
                <li class="nav-item"><a class="btn btn-outline-danger spacer" href="https://www.github.com/dev-hd11/Confidante" onclick="change(4)">
                    <span id = "frth"></span>
                    GitHub
                </a></li>
                <li class="nav-item"><button type = "button" class="btn btn-outline-danger spacer" data-bs-target = "#about" data-bs-toggle="offcanvas" onclick="change(5)">
                    <span id = "ffth"></span>
                    About Us
                </button></li>
            </ul>
        </div>
    </nav>

    <div class="w3-display-middle">
        <h1 class="fontAB" >Confidante</h1>
    </div>

    <div class="w3-display-bottom-middle text-center container-fluid" style="margin-top: 430px;">
        <a href = "{% static 'noreply.html' %}" class="btn btn-primary btn-lg" onclick="change(1)" id = "btn4">
            <span id="frst"></span>
            Get Started
        </a>
        <a href="https://www.djangoproject.com" class="btn btn-primary btn-lg" onclick="change(2)" id = "btn-2">
            <span id="scnd"></span>
            Help
        </a>
    </div>

    <footer class = "w3-display-bottommiddle w3-padding-16 bg-light footerF container-fluid">
        <p class = "text-black-50 fcs"> Confidante Copyright ©️ 2023, Himank Deka</p>
    </footer>
</body>

</html>
