body {
    background-image: url("./images/bg1.jpeg");
}

h1 {
    font-family: Times New Roman;
    text-align: center;
}

h2 {
    font-family: Times New Roman;
    text-align: center;
}

p {
    text-align: center
}